.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
}

.topnav a {
    color: #fff;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.topnav a:hover {
    background-color: #ff5722; /* Hover color */
    color: #fff;
}

.topnav a.active {
    background-color: #ff5722; /* Active link color */
}

body {
  background-image: url("websitebg.jpg"); no-repeat;
  background-size:contain;
}