<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Cricket Match Predictor</title>
</head>
<body>
    <div class="topnav">
            <a class="active" href="/home"> Home </a>
            <a class="active" href="/predictor"> Predictor </a>
    </div>
    <h1>Cricket Match Predictor</h1>
    <script>
        function validateForm() {
            var target = $('#target').val();
            var currentScore = $('#current_score').val();
            var oversCompleted = $('#overs_completed').val();

            if (parseInt(target) <= parseInt(currentScore)) {
                alert("The target should be greater than the current score.");
                return false;
            }

            var ballsLeft = 120 - (parseFloat(oversCompleted) * 6);
            if (ballsLeft <= 0) {
                alert("Overs completed should be less than 20.");
                return false;
            }

            return true;  // Allow the form to be submitted if all checks are passed
        }
    </script>
    <form method="post" onsubmit="return validateForm()">
        <label for="team1">Team 1 (Batting):</label>
        <select name="team1" id="team1">
            <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
            <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
            <option value="Chennai Super Kings">Chennai Super Kings</option>
            <option value="Mumbai Indians">Mumbai Indians</option>
            <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
            <option value="Kings XI Punjab">Kings XI Punjab</option>
            <option value="Rajasthan Royals">Rajasthan Royals</option>
            <option value="Delhi Capitals">Delhi Capitals</option>
        </select>
        <br>
        <label for="team2">Team 2 (Bowling):</label>
        <select name="team2" id="team2">
            <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
            <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
            <option value="Chennai Super Kings">Chennai Super Kings</option>
            <option value="Mumbai Indians">Mumbai Indians</option>
            <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
            <option value="Kings XI Punjab">Kings XI Punjab</option>
            <option value="Rajasthan Royals">Rajasthan Royals</option>
            <option value="Delhi Capitals">Delhi Capitals</option>
        </select>
        <br>
        <label for="city">Host City</label>
        <select name="city" id="city">
            {% for city in cities %}
                <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>

        <br>
        <label for="target">Target:</label>
        <input type="number" id="target" name="target">
        <br>
        <label for="current_score">Current Score:</label>
        <input type="number" id="current_score" name="current_score">
        <br>
        <label for="wickets">Wickets:</label>
        <input type="number" id="wickets" name="wickets">
        <br>
        <label for="overs_completed">Overs Completed:</label>
        <input type="number" step="0.1" id="overs_completed" name="overs_completed">
        <br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>
